@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282c35;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
}

#root {
  margin: 0;

  width: 100%;
  max-width: 60%;
}

.card {
  width: 11vw;
  height: 25vh;
  min-width: 150px;
}
